label {
    font-weight: bold;
    margin-top: 8px;
}

.subtitle {
    padding-bottom: 8px;
}

input[type=number] {
    width: 50px;
}

select.year {
    width: 70px;
}

.main_menu {
    display: block;
    height: 33px;
    padding: 5px;
    background-color: #45ABCC;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius:  0px 0px 8px 8px;
    border-radius:  0px 0px 8px 8px;
}

.fix_button {
    margin-bottom: 10px!important;
}

a.sorter {
    text-decoration: none;
    border-bottom: 1px dotted rgb(0,136,220);
}

.btn-std100 {
     width: 100px;
 }

.btn-std {
    width: 100px;
}

.btn-spacing {
    margin-left: 4px;
    margin-right: 4px;

}

